.resultsBlockItemBlock{
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultsBlockItem {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 3px #e1c289 solid;
  border-radius: 10px;
  background-color: #00755c;
  width: 300px;
  text-decoration: none;
  color: #e1c289;
  font-family: 'Santa', serif;
  letter-spacing: 3px;
  font-size: 150%;
  transition: 0.1s ease-out;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.resultsBlockItem:hover {
  transform: scale(1.04);
}
.close{
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 100px;
  transition: 0.2s ease-out;
  background:
          linear-gradient(45deg, transparent calc(50% - 3px), #e1c289 calc(50% - 3px), #e1c289 calc(50% + 3px), transparent calc(50% + 3px)),
          linear-gradient(-45deg, transparent calc(50% - 3px), #e1c289 calc(50% - 3px), #e1c289 calc(50% + 3px), transparent calc(50% + 3px));
}
.close:hover {
  transform: scale(0.95);
}
.close:active {
  transform: scale(0.8);
}
@keyframes resultsBlockAnimation {
  0%{
    transform: translate(-1000px, 0px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}