.resultsBlockItemBlock{
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultsBlockItem {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 3px #e1c289 solid;
  border-radius: 10px;
  background-color: #00755c;
  width: 300px;
  color: #e1c289;
  font-family: 'Santa', serif;
  letter-spacing: 3px;
  font-size: 150%;
  transition: 0.1s ease-out;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.resultsBlockItem:hover {
  transform: scale(1.04);
}
.resultsBlockItem:active {
  transform: scale(1.02);
}
.resultsBlockItemCompleted {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 3px silver solid;
  border-radius: 10px;
  background-color: #616161;
  width: 300px;
  color: silver;
  font-family: 'Santa', serif;
  letter-spacing: 3px;
  font-size: 150%;
  transition: 0.1s ease-out;
  text-align: center;
  overflow: hidden;
  position: relative;
  text-decoration: line-through;
}
.resultsBlockItemCompleted:hover {
  transform: scale(1.04);
}
.resultsBlockItemCompleted:active {
  transform: scale(1.02);
}
.close{
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 100px;
  transition: 0.2s ease-out;
  background:
          linear-gradient(45deg, transparent calc(50% - 3px), #e1c289 calc(50% - 3px), #e1c289 calc(50% + 3px), transparent calc(50% + 3px)),
          linear-gradient(-45deg, transparent calc(50% - 3px), #e1c289 calc(50% - 3px), #e1c289 calc(50% + 3px), transparent calc(50% + 3px));
}
.close:hover {
  transform: scale(0.95);
}
.close:active {
  transform: scale(0.8);
}
.closeComplete{
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 100px;
  transition: 0.2s ease-out;
  background:
          linear-gradient(45deg, transparent calc(50% - 3px), silver calc(50% - 3px), silver calc(50% + 3px), transparent calc(50% + 3px)),
          linear-gradient(-45deg, transparent calc(50% - 3px), silver calc(50% - 3px), silver calc(50% + 3px), transparent calc(50% + 3px));
}
.closeComplete:hover {
  transform: scale(0.95);
}
.closeComplete:active {
  transform: scale(0.8);
}
.pencil {
  width: 50px ;
  height: 50px ;
  background: url("../assets/pencil.svg") no-repeat center;
  background-size: 25px;
}
.pencilCompleted {
  width: 50px ;
  height: 50px ;
  background-size: 25px;
}
.pencil:hover {
  transform: scale(0.95);
}
.pencil:active {
  transform: scale(0.8);
}
.changeResultBlockValueBackground {
  z-index: 2;
  opacity: 0.97;
  background-color: #012D21;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changeResultBlockValueBlock {
  z-index: 3;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 350px;

}
.changeResultBlockValue {
  background-color: #00755c;
  border: 2px #e1c289 solid;
  border-radius: 5px;
  width: 350px;
  padding: 5px;
  height: 30px;
  transition: 0.2s ease-out;
  color: #e1c289;
  font-size: 130%;
  text-align: center;
}
.changeResultBlockValue::placeholder{
  color: #e1c289;
  font-size: 110%;
  text-align: center;
}
.checkMark {
  width: 50px ;
  height: 50px ;
  background: url("../assets/checkMark.svg") no-repeat center;
  background-size: 30px;
}
.checkMark:hover {
  transform: scale(0.95);
}
.checkMark:active {
  transform: scale(0.8);
}
@keyframes resultsBlockAnimation {
  0%{
    transform: translate(-1000px, 0px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}